
p{
  padding: 2% 2% 0%;
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  font-size: 0.75rem;
  font-weight: 100;
  line-height: 1.5;
}

h4{
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  font-size: 0.85rem;
}

.font{
  color: black;
}
