/* Home section */
#page-Home{
  font-family: Verdana, Geneva, sans-serif;
  color: white;
}

/* background image */
.bg-img {
  background-image: url('../images/pages/classroom.jpg');
  min-height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 750px) {
  .bg-img {
    background-image: url('../images/pages/classroom.jpg');
    min-height: 350px;
    min-width: 900px;
    background-position:center;
    background-size: cover;
    position: static;
    overflow-x: hidden;
  }
}

/* navigation bar */
.navbar{
  padding: 3% 2%;
  height: 100%
}

.nav-item a:hover {
  background-color: #ff7b54;
  color: white;
}

.nav-link{
  font-size: 1rem;
  color: white;

}

.navbar-brand{
  font-size: 1rem;
}

/* about section */
.page-about{
  padding: 2% 2%;
}

.page-about-image{
  margin:2% 2% 1%;
  float: left;
}

.page-about-text{
  font-size: 0.75rem;
  font-weight: 100;
  line-height: 1.5;
  font-family: Verdana, Geneva, sans-serif;
  color: black;
}

/* lab section */

.page-lab-image{
  margin:2% 2% 1%;
  float: right;
}

.bg-img-labs {
  background-image: url('../images/pages/labs.jpg');
  min-height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 750px) {
  .bg-img-labs {
    background-image: url('../images/pages/labs.jpg');
    min-height: 350px;
    min-width: 900px;
    background-position:center;
    background-size: cover;
    position: static;
    overflow-x: hidden;
  }
}

/* library section */

.page-lib-image{
  margin:2% 2% 1%;
  float: left;
}

.bg-img-lib {
  background-image: url('../images/pages/library.jpg');
  min-height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 750px) {
  .bg-img-lib {
    background-image: url('../images/pages/library.jpg');
    min-height: 350px;
    min-width: 900px;
    background-position:center;
    background-size: cover;
    position: static;
    overflow-x: hidden;
  }
}

/* transport section */

.page-transport-image{
  margin:2% 2% 1%;
  float: right;
}

.bg-img-transport {
  background-image: url('../images/pages/transport.jpg');
  min-height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 750px) {
  .bg-img-transport {
    background-image: url('../images/pages/transport.jpg');
    min-height: 350px;
    min-width: 900px;
    background-position:center;
    background-size: cover;
    position: static;
    overflow-x: hidden;
  }
}

/* footer section */

.footer{
  padding: 0% 2%;
}

.contact-content{
  align-content: left;
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  line-height: 2;
  font-weight: none;
  font-size: 0.85rem;
  font-weight: 100;
}

.font{
  padding: 1%
}

.content-sm{
  float: right;
  line-height: 2;
}
